@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Oswald&family=Roboto:wght@300&display=swap');
body{
	padding: 0;
	margin: 0;
	background: #eee;
}
.header{
	background: url("images/header.jpg");
	padding: 30px 20px;
	color: white;
}

.header h1{
	font-size: 80px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.container {
	background: white;
	padding: 10px;
	text-align: center;
}

.container .blogs {
	background: #eee;
	height: 300px;
	width: 300px;
	padding: 10px;
	margin: 5px;
	display: inline-table;
	border-radius: 15px;
}

.container .blogs img, a, p {
	display: block;
}

.container .blogs img {
	margin: 0 auto;
	width: 176px;
	height: 155px;
}

.container .blogs a{
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}

.container .blogs p{
	float: right;
}