@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Oswald&family=Roboto:wght@300&display=swap');
body{
	padding: 0;
	margin: 0;
	background: #eee;
}
.header{
	background: url("images/header.jpg");
	padding: 30px 20px;
	color: white;
}

.header h1{
	font-size: 80px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.container {
	padding: 15px 20px;
	background: white;
}

.container h1{
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
}

.container .links {
	padding: 20px 10px;
}
.container .links a {
	display: block;
	margin: 10px;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	border: 1px solid lightgrey;
	color: black;
	padding: 10px;
}

