*{
	padding: 0;
	margin: 0;
}

.header{
	background-image: url("images/header.jpg");
	height: 400px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	animation: earthUp 1s;
  	border-bottom-left-radius: 50% 20%;
  	border-bottom-right-radius: 50% 20%;
}

.header #title{
	color: white;
	font-family: Roboto;
}

.header #title h1 {
	font-size: 5vw;
	text-align: center;
	margin-top: 100px;
	animation: fadeIn 1s;
	animation: moveUp 1s;
}

.header #title p{
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Roboto;
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes moveUp {
	0% { margin-top: 120px; }
	100% { margin-top: 100px; }
}
@keyframes earthUp {
	0% {
		background-position: 0 -20px;
	}
	100% {
		background-position: auto;
	}
}

.header .menu {
	text-align: center;
	padding: 15px 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.header .menu a{
	margin: 0 25px;
	font-size: 30px;
	text-decoration: none;
	padding: 5px 20px;
	color: white;
	font-size: 20px;
	font-family: Roboto;
}