.imgs {
	background: white;
	padding: 10px 10%;
	margin: 0 auto;
	text-align: center;
}

.imgs img {
	width: 176px;
	height: 155px;
	margin: 10px;
	animation: fadein .40s;
	border-radius: 20px;
}


@keyframes fadein{
	0% {opacity: 0;}
	100% {opacity: 100%;}
}