*{
	padding: 0;
	margin: 0;
}

body{
	background: #eee;
}

.header{
	background-image: url("images/header.jpg");
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	animation: earthUp 1s;
  	border-bottom-left-radius: 50% 20%;
  	border-bottom-right-radius: 50% 20%;
}

.header #title{
	color: white;
	font-family: Roboto;
	padding: 100px;
}

.header #title h1 {
	font-size: 50px;
	text-align: center;
	animation: fadeIn 1s;
	animation: moveUp 1s;
}

.header #title p {
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Roboto;
	animation: fadeIn 1s;
}

.header .menu {
	text-align: center;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 10px 20px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
} 

.header .menu a{
	margin: 0 25px;
	font-size: 30px;
	text-decoration: none;
	padding: 5px 20px;
	color: white;
	font-size: 20px;
	font-family: Roboto;
}



@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes earthUp {
	0% {
		background-position: 0 -20px;
	}
	100% {
		background-position: auto;
	}
}
