form input, textarea{
	display: block;
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid lightgrey;
	outline: none;
	font-family: "Roboto", san-serif;
}

form input[type=text],[type=email] {
	padding: 10px 80px 10px 10px;
}

form input[type=submit] {
	cursor: pointer;
}